* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: inherit !important;
    text-decoration: none;
}
.icondt{
    margin-top: 20px;
}
.thanhtd{
    border-bottom: 2px solid black;
}
.hienthi{
    width: 100%;
    height: 500px;
    border-bottom: 2px solid black;
}
.layoutintput{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layoutintput{
    width: 100%;
    height: 400px;
}
.nhaplieu{
    width: 500px;
    height: auto;
    background-color: aquamarine;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 3px #F5BBC5;
}
.Datain{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 2%;
}
.Datain label {
    margin-left: 10%;
}
.Datain div {
    padding: 0px !important;
}
.Datain input,select{
    border-radius: 5px;
    outline: none;
    border: none;
}
#tinhTrang {
    width: 68%;
    height: 27px;
}
#submitSp{
    margin-left: 41.7%;
    margin-bottom: 2%;
    padding: 5px;
    background-color: #F5BBC5;
}