* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}
/* phần tiêu đề */
a{
    color: inherit !important;
    text-decoration: none;
}
.icondt{
    margin-top: 20px;
}
.thanhtd{
    border-bottom: 2px solid black;
}
/* phần input */
.layoutintput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.nhaplieu{
    width: 500px;
    height: auto;
    background-color: aquamarine;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 3px #F5BBC5;
    animation-name: bounceInt;
    animation-duration: 1s;
}
@keyframes bounceInt {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform:scale(1.2) ;
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
.Datain{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 2%;
}
#submitSp{
    float: right;
}
#deleteNhap{
    float: left;
    padding: 5px;
    background-color: #F5BBC5;
    margin-left: 2%;
}
.Datain label {
    margin-left: 10%;
}
.Datain div {
    padding: 0px !important;
}
.Datain input{
    border-radius: 5px;
    outline: none;
    border: none;
}
#tinhTrang {
    width: 68%;
    height: 27px;
}
#submitSp{
    margin-left: 41.7%;
    margin-bottom: 2%;
    padding: 5px;
    background-color: #F5BBC5;
}
/* phần hiển thị ra web */
.hienthi{
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
    position: relative;
}
.banner{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-around;
}
.card{
    position: relative;
}
.deleteSp{
    position: absolute;
    width: 30px;
    height: 30px;
    color: red;
    border: none;
    right: 0px;
}
#xhForm{
    padding: 7px;
    border-radius: 5px;
    background-color: #0069D9;
    color: white;
    border: none;
    margin-left: 41%;
    margin-bottom: 10px;
}
#xhForm:active{
    padding: 10px;
    background-color: #025ec0;
}
#keybaner{
    display: none;
}
/* modal giỏ hàng */
.layoutGio{
    width: 28%;
    padding: 20px;
    background-color: rgba(139, 101, 101);
    z-index: 10;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    transition: opacity 400ms ease-in;
    box-shadow: -4px 4px 4px 1px rgb(146, 141, 141);
}
.layoutGio:target{
    opacity: 1;
}
.daNhap{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.daNhap span input{
    height: 30px;
    width: 50px;
    max-lines: 10;
}
#giogio{
    width: 95%;
    height: auto;
    padding: 5px;
    border: 1px dotted black;
    margin-top: 10px;
}
.editGio{
    border: none;
    padding: 4px;
    background-color: #025ec0;
    color: white;
    border-radius: 5px;
}
#offM{
    margin-top: 0px;
    margin-right: 90%;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    padding: 3px;
    box-shadow: -4px 4px 4px 1px rgb(167, 18, 18);
}
#offM:active{
    padding: 5px;
}
.hoantat{
    padding: 3px;
    border-radius: 5px;
    background-color: #b528b9;
    color: white;
    border: none;
    margin-top: 10px;
}
